APIVehiculos/Service References/WCF/WCFReservaVehiculos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFReservaVehiculos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" />
      <xsd:import schemaLocation="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" />
      <xsd:import schemaLocation="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.DataBaseModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarVehiculosDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVehiculosDisponibles" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarVehiculosDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVehiculosDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarVehiculosDisponibles_StatusResponseFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" name="detail" element="q1:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ReservarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ReservarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ReservarVehiculo_StatusResponseFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" name="detail" element="q2:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarReservas" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarReservasResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarReservas_StatusResponseFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" name="detail" element="q3:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_CancelarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarReserva" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_CancelarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_CancelarReserva_StatusResponseFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" name="detail" element="q4:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarCiudades_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCiudades" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarCiudades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarCiudades_StatusResponseFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" name="detail" element="q5:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPaises" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFReservaVehiculos_ConsultarPaises_StatusResponseFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" name="detail" element="q6:StatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFReservaVehiculos">
    <wsdl:operation name="ConsultarVehiculosDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarVehiculosDisponibles" message="tns:IWCFReservaVehiculos_ConsultarVehiculosDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarVehiculosDisponiblesResponse" message="tns:IWCFReservaVehiculos_ConsultarVehiculosDisponibles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarVehiculosDisponiblesStatusResponseFault" name="StatusResponseFault" message="tns:IWCFReservaVehiculos_ConsultarVehiculosDisponibles_StatusResponseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ReservarVehiculo" message="tns:IWCFReservaVehiculos_ReservarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ReservarVehiculoResponse" message="tns:IWCFReservaVehiculos_ReservarVehiculo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ReservarVehiculoStatusResponseFault" name="StatusResponseFault" message="tns:IWCFReservaVehiculos_ReservarVehiculo_StatusResponseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarReservas" message="tns:IWCFReservaVehiculos_ConsultarReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarReservasResponse" message="tns:IWCFReservaVehiculos_ConsultarReservas_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarReservasStatusResponseFault" name="StatusResponseFault" message="tns:IWCFReservaVehiculos_ConsultarReservas_StatusResponseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/CancelarReserva" message="tns:IWCFReservaVehiculos_CancelarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/CancelarReservaResponse" message="tns:IWCFReservaVehiculos_CancelarReserva_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/CancelarReservaStatusResponseFault" name="StatusResponseFault" message="tns:IWCFReservaVehiculos_CancelarReserva_StatusResponseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCiudades">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarCiudades" message="tns:IWCFReservaVehiculos_ConsultarCiudades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarCiudadesResponse" message="tns:IWCFReservaVehiculos_ConsultarCiudades_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarCiudadesStatusResponseFault" name="StatusResponseFault" message="tns:IWCFReservaVehiculos_ConsultarCiudades_StatusResponseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarPaises" message="tns:IWCFReservaVehiculos_ConsultarPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarPaisesResponse" message="tns:IWCFReservaVehiculos_ConsultarPaises_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWCFReservaVehiculos/ConsultarPaisesStatusResponseFault" name="StatusResponseFault" message="tns:IWCFReservaVehiculos_ConsultarPaises_StatusResponseFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFReservaVehiculos" type="tns:IWCFReservaVehiculos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarVehiculosDisponibles">
      <soap:operation soapAction="http://tempuri.org/IWCFReservaVehiculos/ConsultarVehiculosDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StatusResponseFault">
        <soap:fault use="literal" name="StatusResponseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReservarVehiculo">
      <soap:operation soapAction="http://tempuri.org/IWCFReservaVehiculos/ReservarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StatusResponseFault">
        <soap:fault use="literal" name="StatusResponseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarReservas">
      <soap:operation soapAction="http://tempuri.org/IWCFReservaVehiculos/ConsultarReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StatusResponseFault">
        <soap:fault use="literal" name="StatusResponseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelarReserva">
      <soap:operation soapAction="http://tempuri.org/IWCFReservaVehiculos/CancelarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StatusResponseFault">
        <soap:fault use="literal" name="StatusResponseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCiudades">
      <soap:operation soapAction="http://tempuri.org/IWCFReservaVehiculos/ConsultarCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StatusResponseFault">
        <soap:fault use="literal" name="StatusResponseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaises">
      <soap:operation soapAction="http://tempuri.org/IWCFReservaVehiculos/ConsultarPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StatusResponseFault">
        <soap:fault use="literal" name="StatusResponseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFReservaVehiculos">
    <wsdl:port name="BasicHttpBinding_IWCFReservaVehiculos" binding="tns:BasicHttpBinding_IWCFReservaVehiculos">
      <soap:address location="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>