APIVehiculos/Service References/WCF/WCFReservaVehiculos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://romeroruben-001-site1.itempurl.com/WCFReservaVehiculos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" />
  <xs:element name="ConsultarVehiculosDisponibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarVehiculosRequest" nillable="true" type="q1:ConsultarVehiculosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVehiculosDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarVehiculosDisponiblesResult" nillable="true" type="q2:ConsultarVehiculosDisponiblesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ReservarVehiculoRequest" nillable="true" type="q3:ReservarVehiculoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ReservarVehiculoResult" nillable="true" type="q4:ReservarVehiculoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarReservas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarReservasRequest" nillable="true" type="q5:ConsultarReservasRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarReservasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarReservasResult" nillable="true" type="q6:ConsultarReservasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="CancelarReservaRequest" nillable="true" type="q7:CancelarReservaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="CancelarReservaResult" nillable="true" type="q8:CancelarReservaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCiudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarCiudadesRequest" nillable="true" type="q9:ConsultarCiudadesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarCiudadesResult" nillable="true" type="q10:ConsultarCiudadesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.Entities" minOccurs="0" name="ConsultarPaisesResult" nillable="true" type="q11:ConsultarPaisesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>