APIVehiculos/Service References/WCF/WCFReservaVehiculos4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFReservaVehiculos.Business.ExceptionHandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerExceptionDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponse" nillable="true" type="tns:StatusResponse" />
</xs:schema>